body {
  background-color: rgb(235, 210, 177);
}

h1 {
  margin-top: 40px;
}

h3 {
  margin-top: 20px;
}

span {
  margin-left: 3rem;
}

.list-group{
  max-height: 100px;
  margin-bottom: 20px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}