body {
  background-color: #3a3c45;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  margin-top: 4rem;
  font-size: 2.75rem;
  font-weight: bold;
  color: white;
}

h3 {
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  color: white;
}

.searchInfo {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;
}

.result {
  background-color: rgb(202, 211, 246);
  border-radius: 5px;
  margin-top: 3rem;
  box-shadow: 2px 3px #151313;
  font-weight: bold;
  max-width: 35rem;
}

.search {
  width: 20rem;
  margin: auto;
}

.searchBtn {
  margin-top: -5px;
  margin-left: 5px;
}

.list-group {
  max-height: 100px;
  margin-bottom: 20px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.list-group-item:hover {
  background-color: #7B97AB;
}

.tickerContainer {
  margin: auto;
}

tbody {
  display: flex;
  flex-direction: row;
  width: 500vw;
  overflow-x: auto;
  background-color: rgb(202, 211, 246);
  transform: translateX(100%);
  animation: moving 30s linear infinite;
}

@keyframes moving {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

tr {
  display: flex;
  border-color: black;
  border-width: 1px;
}

td {
  text-align: center;
}

.symbolStyle {
  font-size: 1.5rem;
}

table {
  background-color: rgb(202, 211, 246);
  border-bottom: black;
  border-width: 20px;
}

input {
  background-color: #d5dbfa;
}

p {
  color: white;
}

nav {
  background-color: black;
}

.logo {
  height: 3rem;
  margin-left: 2rem;
}

mainContainer {
  width: 100vw;
}