@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgba(9, 13, 22, 0.219);
}

.logo {
  height: 3rem;
  margin: 1rem;
}

.tradingview-widget-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 0;
  position: relative
}

.tradingview-widget-container__widget {
  height: 30rem;
  width: 50rem;
}

@media screen and (max-width: 810px) {
  .tradingview-widget-container__widget {
    height: 30rem;
    width: 40rem;
  }
}

@media screen and (max-width: 630px) {
  .tradingview-widget-container__widget {
    width: 27rem;
    height: 30rem;
  }
}

@media screen and (max-width: 414px) {
  .tradingview-widget-container__widget {
    width: 20rem;
    height: 30rem;
  }
}

.chart-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 3rem;
  gap: 1rem;

}

.css-1u169s7-MuiList-root {
  position: absolute !important;
  margin-top: 37rem !important;
}

.searchList {
  z-index: 20;
  background-color: rgba(30, 30, 36, 0.822);
  color:antiquewhite;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  max-height: 30rem;
  min-height: 30rem;
  min-width: 15rem;
  max-width: 18rem;
}
.css-193q0wg-MuiListItem-root:hover {
  background-color: darkgray;
}


@media screen and (max-width: 414px) {
  .css-193q0wg-MuiListItem-root {
    padding-left: 1px;
    padding-right: 1px;
  }
}

.css-9c0h7a-MuiButtonBase-root-MuiListItemButton-root {
  flex-direction: column;
  text-align: center;
}