@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.logo {
  height: 3rem;
  margin-left: 2rem;
}

.tradingview-widget-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tradingview-widget-container__widget {
  height: 30rem ;
  width: 50rem ;
}

.chart-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3rem;
  gap: 1rem;
}